:root{
    --colorFondoPrincipal: #fafafa;
    --colorTarjetasPrincipal: white;
    --colorTitulosPrincipal: #4320ef;
    --colorTextoSecundario: #222222;
    --fuente-titulos: "Exo 2";
    --fuente-letras: "Comfortaa";
}

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--colorFondoPrincipal);
    margin: 0px;
    padding: 0px;
}

#header{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--colorTarjetasPrincipal);
    padding: 10px;
    box-shadow: 0px 0px 8px #ccc;
    position: fixed;
    top: 0%;
    z-index: 996;
    transition: all 500ms;
}

#logo{
    flex-basis: 17%;
    text-decoration: none;
    font-family: var(--fuente-titulos);
    color: var(--colorTitulosPrincipal);
    font-size: 45px;
    font-weight: bold;
    text-shadow: 0px 0px 0px white,
                 1px 1px 1px white,
                 2px 2px 2px black,
                 3px 3px 3px black;
    transition: all 300ms;
}

#logo:hover{
    transform: scale(1.05);
}

#logo:visited{
    color: var(--colorTitulosPrincipal);
}

.menu{
    flex-basis: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
}

ul > li{
    list-style: none;
    margin: 0px 10px;
}

ul > li > a{
    text-decoration: none;
    font-family: var(--fuente-titulos);
    font-weight: bold;
    font-size: 18px;
    display: block;
    transition: all 300ms;
    color: var(--colorTitulosPrincipal);
}

ul > li > a:visited{
    color: var(--colorTitulosPrincipal);
}

ul > li > a:hover{
    transform: scale(1.15);
}

/* BURGER MENU PARA EL RESPONSIVE */

.burger_menu {
    width: 50px;
    height: 50px;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    position: fixed;
    top: 40px;
    left: 10px;
    z-index: 999;
    transition: all 500ms;
}

.line{
    width: 100%;
    height: 6px;
    background-color: var(--colorTitulosPrincipal);
    border-radius: 3px;
    transition: all 500ms;
}

.second_line{
    width: 85%;
    transition: all 300ms;
}


/* MENU PARA EL RESPONSIVE */

#menu_responsive{
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 998;
    background-color: var(--colorTarjetasPrincipal);
    border-right: 1px solid #ccc;
    transition: all 500ms;
}

.hidden_menu{
    box-shadow: none;
    transform: translateX(-250px);
}

.expanded_menu{
    box-shadow: 0px 0px 999px black;
    transform: translateX(0px);
}

.lista_responsive{
    margin-top: 50px;
    flex-basis: 100%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.lista_responsive li {
    margin-top: 25px;
} 

#switch_container{
    width: 60px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.556);
    position: fixed;
    z-index: 998;
    top: 12%;
    right: 1%;
    border-radius: 997px;
    box-shadow: 0px 0px 3px #2e3e7b;
    cursor: pointer;
}

#dark_switch{
    width: 25px;
    height: 25px;
    background-color: var(--colorTarjetasPrincipal);
    border-radius: 999px;
    margin: 2px;
    margin-left: 4px;
    box-shadow: 0px 0px 3px #2e3e7b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 300ms;
}

#dark_switch svg:last-child{
    display: none;
}

.desplazar_switch{
    transform: translateX(27px);
}

.restablecer_switch{
    transform: translateX(0px);
}

.dark_mode{
    --colorFondoPrincipal: #1c1c1c;
    --colorTarjetasPrincipal: #131314;
    --colorTitulosPrincipal: #fafafa;
    --colorTextoSecundario: white;
}

.dark_mode #dark_switch svg:last-child{
    display: block;
}

.dark_mode #dark_switch svg:first-child{
    display: none;
}

.dark_mode #header{
    box-shadow: none;
}

.dark_mode section{
    box-shadow: none;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    margin: 0px auto;
    margin-top: 100px;
    padding-top: 10px;
    min-height: 1200px;
    overflow: hidden;
    transition: all 500ms;
}

.subtitulo{
    font-family: var(--fuente-titulos) !important;
    font-size: 55px;
    font-weight: bold;
    color: var(--colorTitulosPrincipal);
    text-shadow: 0px 0px 0px white,
                 1px 1px 1px white,
                 2px 2px 2px black,
                 3px 3px 3px black;

}

section{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    height: 620px;
    background-color: var(--colorTarjetasPrincipal);
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 25px;
    padding: 20px;
    transition: all 500ms;
}

.presentacion > span{
    flex-basis: 20%;
    text-align: center;
    font-family: var(--fuente-titulos);
    font-size: 90px;
    margin-right: 15px;
    margin-top: 160px;
    color: var(--colorTitulosPrincipal);
    text-shadow: 0px 0px 0px white,
                 1px 1px 1px white,
                 2px 2px 2px black,
                 3px 3px 3px black,
                 4px 4px 4px black,
                 5px 5px 5px black;
    transition: all 500ms;
}

#review{
    flex-basis: 49%;
    padding: 10px;
    padding-left: 30px;
    font-family: var(--fuente-letras);
    font-size: 20px;
    color: var(--colorTextoSecundario);
    transition: all 300ms;
}

#icon{
    flex-basis: 30%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#icon > img{
    width: 250px;
    height: 250px;
    transition: all 500ms;
}

.skills{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 650px;
    overflow-y: scroll;
    transform: translateX(-2000px);
}

.subtitulo_skills{
    margin: 0px;
    margin-bottom: 25px;
    text-align: center;
    flex-basis: 100%;
}


.skills > .icons{
    flex-basis: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills > .icons > img{
    width: 90px;
    margin-bottom: 10px;
    opacity: 0;
    /* transition: all 2000ms; */
}

.loaders{
    flex-basis: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.loaders > .skill-loading{
    box-sizing: border-box;
    width: 95%;
    height: 50px;
    border-radius: 10px;
    background-color: #ccc;
    padding: 3px;
}

.skill-loading > div{
    width: 0%;
    height: 100%;
    background-color: #4320ef;
    border-radius: 10px;
    font-family: var(--fuente-letras);
    color: white;
    text-align: center;
    padding-top: 12px;
    transition: all 5s;
}

.projects{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 50px;
    overflow-y: scroll;
    opacity: 0;
}

.subtitulo_projects{
    margin: 0px;
    text-align: center;
    flex-basis: 100%;
}

.individual_project{
    flex-basis: 30%;
    height: 400px;
    background-color: var(--colorTarjetasPrincipal);
    box-shadow: 0px 0px 8px #ccc;
    border-radius: 20px;
    overflow: hidden;
    transition: all 500ms;
    text-align: center;
}

.dark_mode .individual_project{
    box-shadow: 0px 0px 8px black;
}

.individual_project:hover{
    box-shadow: 0px 0px 8px black;
}

.project_picture{
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-bottom: 1px solid #eee;
}

.project_picture > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project_title{
    font-family: var(--fuente-titulos);
    color: var(--colorTitulosPrincipal);
    font-size: 28px;
    text-align: center;
    margin: 0px;
}

.project_review{
    text-align: justify;
    font-family: var(--fuente-letras);
    color: var(--colorTextoSecundario);
    padding: 10px;
    margin: 0px;
}

.material-icons{
    font-size: 30px !important;
    text-decoration: none;
    transition: all 200ms;
    cursor: pointer;
}

.material-icons:visited{
    color: var(--colorTextoSecundario);
}

.material-icons:hover{
    transform: rotate(-40deg);
}

.contact_section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: url(./images/background_picture.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 50px;
    box-shadow: none;
    margin: 0px;
    border-radius: 0px;
    overflow: hidden;
}

.dark_mode .contact_section{
    background: url(./images/background_dark_mode.jpg);
    background-repeat: no-repeat;
    background-position-y: -2585px;
    background-position-x: -3312px;
}

.datos_redes{
    flex-basis: 50%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#subtitulo_contact{
    text-align: center;
    font-size: 80px;
    margin-bottom: 0px;
}


.bx{
    font-size: 50px;
    color: var(--colorTextoSecundario);
    transition: all 500ms;
}

.bx:hover{
    color: white;
    text-shadow: 0px 0px 1px #4320ef,
                 0px 0px 2px #4320ef,
                 0px 0px 3px #4320ef,
                 0px 0px 4px #4320ef,
                 0px 0px 5px #4320ef,
                 0px 0px 6px #4320ef,
                 0px 0px 7px #4320ef,
                 0px 0px 8px #4320ef,
                 0px 0px 9px #4320ef,
                 0px 0px 10px #4320ef,
                 0px 0px 11px #4320ef,
                 0px 0px 12px #4320ef,
                 0px 0px 13px #4320ef,
                 0px 0px 14px #4320ef,
                 0px 0px 15px #4320ef,
                 0px 0px 16px #4320ef,
                 0px 0px 17px #4320ef,
                 0px 0px 18px #4320ef,
                 0px 0px 19px #4320ef,
                 0px 0px 20px #4320ef;
}

.bx:visited{
    color: var(--colorTextoSecundario);
}


.profilepicture{
    flex-basis:50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.profilepicture > img{
    width: 500px;
    filter: drop-shadow(0px 0px 15px gray);
    transform: translateY(113px) translateX(141px);
}

.dark_mode .profilepicture > img{
    filter: none;
}

.experiences{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    overflow-y: scroll;
    transform: translateX(2000px);
    opacity: 0;
    box-shadow: none;
    background-color: transparent;
}


.subtitulo_experiences{
    flex-basis: 100%;
    text-align: center;
    margin: 0px;
}

@keyframes showExperience {
    from{
        opacity: 0;
        scale: 25%;
    }

    to{
        opacity: 1;
        scale: 100%;
    }
}

.experience{
    flex-basis: 100%;
    padding: 20px;
    view-timeline-name: --experience;
    view-timeline-axis: block;
    animation-timeline: --experience;
    animation-name: showExperience;
    animation-range: entry 25% cover 50%;
    animation-fill-mode: both;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #cccccc83;
}

.subtitulo_position{
    flex-basis: 100%;
    font-family: var(--fuente-titulos);
    font-size: 45px;
    color: var(--colorTitulosPrincipal);
    text-align: center;
    margin-bottom: 0px;
}

.company{
    flex-basis: 100%;
    font-family: var(--fuente-titulos);
    font-size: 25px;
    color: var(--colorTextoSecundario);
    text-align: center;
}
.date{
    flex-basis: 100%;
    font-family: var(--fuente-letras);
    color: #666666d7;
    font-weight: bold;
    text-align: center;
}

.functions{
    flex-basis: 100%;
    margin-left: 110px;
}

.functions > li {
    list-style: disc;
    font-family: var(--fuente-letras);
    color: var(--colorTextoSecundario);
}


.certificates{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    overflow-y: scroll;
}

.certificates .subtitulo{
    flex-basis: 100%;
    text-align: center;
    margin: 0px;
    transform: translateY(-2000px);
    transition: all 500ms;
}

.certificate{
    flex-basis: 48%;
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--colorTarjetasPrincipal);
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 0px 15px #ccc;
    transition: all 500ms;
}

.certificate_first_column{
    transform: translateX(-2000px);
    transition: all 500ms;
}

.certificate_second_column{
    transform: translateX(-2000px);
    transition: all 500ms;
}

.dark_mode .certificate{
    box-shadow: 0px 0px 15px black;
}

.certificate > img{
    width: 40%;
    height: 100%;
    border-right: 1px solid #cccccc73;
    object-fit: contain;
    padding: 15px;
}

.certificate_title{
    display: block;
    flex-basis: 60%;
    line-height: 200px;
    text-decoration: none;
    font-family: var(--fuente-titulos);
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    /* padding-left: 20px; */
    color: var(--colorTextoSecundario);
    cursor: pointer;
    transition: all 500ms;
}

.certificate_title:hover{
    background-color: #dadada;
}

.dark_mode .certificate_title:hover{
    background-color: rgba(0, 0, 0, 0.263);
}

/* CUSTOM SCROLLBAR */

::-webkit-scrollbar{
    width: 17px;
}

::-webkit-scrollbar-track{
    background: var(--colorTarjetasPrincipal);
    border-radius: 0px 10px 10px 0px;
}

::-webkit-scrollbar-thumb{
    background: var(--colorTitulosPrincipal);
    border-radius: 10px;
    border: 4px solid var(--colorTarjetasPrincipal);
}

/* RESPONSIVE WEB DESIGN */

@media(max-width: 1476px) {
    .presentacion > span {
        font-size: 70px;
        margin-top: 20px;
    }
}

@media(max-width: 1270px) {
    .profilepicture > img {
        transform: translateY(113px) translateX(77px);
    }
}

@media(max-width: 1181px) {
    .presentacion > span {
    flex-basis: 35%;
    margin-right: 0px;
    }
}

@media(max-width: 1150px){
    
    .datos_redes {
        flex-basis: 40%;
    }
    
    #subtitulo_contact {
        font-size: 56px;
    }
    
    .datos_redes > .subtitulo {
        font-size: 30px;
    }

    .profilepicture {
        flex-basis: 30%;
    }

    .profilepicture > img {
        width: 370px;
        border-radius: 999px;
    }

    .bx {
        font-size: 40px;
    }

}

@media(max-width: 1095px) {
    
    #header {
        height: 135px;
        flex-direction: column;
    }

    #logo {
        flex-basis: 100%;
    }
    .content {
        margin-top: 162px;
    }

    .menu {
        flex-basis: 100%;
        padding: 0px;
    }

    .individual_project {
        flex-basis: 45%;
    }
    
}

@media(max-width: 937px) {
    #review {
        flex-basis: 60%;
        font-size: 15px;
    }

    #icon > img {
        flex-basis: 30%;
        width: 200px;
        height: 200px;
    }

    .certificate > img {
        width: 30%;
    }

    .certificate_title {
        flex-basis: 70%;
        font-size: 18px;
    }
}

@media(max-width: 830px) {
    
    #second_name{
        display: none;
    }

    #second_last_name{
        display: none;
    }

    .project_review {
        font-size: 14px;
    }

    .project_title {
        font-size: 22px;
    }

    .profilepicture > img {
        width: 300px;
        transform: translateY(-5px) translateX(77px);
    }

    .presentacion > span {
        flex-basis: 100%;
    }
    
    #second_name{
        display: none;
    }

    #second_last_name{
        display: none;
    }

    #subtitulo_contact {
        font-size: 46px;
    }

    .functions {
        margin-left: 0px;
    }

}

@media(max-width: 775px) {

    .individual_project {
        flex-basis: 80%;
    }

    .datos_redes {
        flex-basis: 56%;
    }

    .profilepicture > img {
        width: 250px;
        transform: translateY(-5px);
    }

}

@media(max-width: 700px) {

    .menu{
        display: none;
    }

    #logo{
        line-height: 100px;
    }

    .burger_menu{
        display: flex;
    }

}

@media(max-width: 610px) {

    .datos_redes {
        flex-basis: 100%;
    }

    .profilepicture {
        display: none;
    }

}

@media(max-width: 569px ) {

    #review {
        flex-basis: 50%;
        font-size: 14px;
    }

    #icon > img {
        flex-basis: 30%;
        width: 150px;
        height: 150px;
    }
    
    #switch_container {
        top: 21.4%;
    }

    .certificate {
        flex-basis: 100%;
    }
}

@media(max-width: 516px ) {

    #review {
        font-size: 12px;
    }

    #icon > img {
        width: 100px;
        height: 100px;
    }

    .menu {
        justify-content: center;
        gap: 10px;
        padding: 0px;
    }

    ul > li > a {
        font-size: 15px;
    }

    .skills > .icons {
    flex-basis: 35%;
    }

    .loaders {
    flex-basis: 65%;
    }
}

@media(max-width: 495px){

    .datos_redes {
        flex-basis: 90%;
    }
}

@media(max-width: 440px ) {

    #review {
        flex-basis: 100%;
    }

    .subtitulo {
        font-size: 50px;
    }
}

@media (max-width: 391px) {
    .menu {
        gap: 20px;
    }
}

@media(max-width: 385px ) {

    .presentacion > span {
        font-size: 50px;
    }
    .subtitulo {
        font-size: 45px;
    }

    .skills > .icons > img {
        width: 70px;
        margin-bottom: 35px;
    }

    .loaders {
        flex-basis: 65%;
        margin-bottom: 26px;
    }

    .project_title {
        font-size: 19px;
    }

    .project_review {
        font-size: 12px;
    }
    
    .datos_redes > .subtitulo {
        font-size: 26px;
    }
}

@media (max-height: 370px ) {
    #header {
        height: 111px;
    }
    #logo {
        font-size: 38px;
    }

    ul > li > a {
        font-size: 15px;
    }
    
    .content {
        margin-top: 115px;
    }
}



