:root{
    --colorFondoPrincipal: #fafafa;
    --colorTarjetasPrincipal: white;
    --colorTitulosPrincipal: #4320ef;
    --colorTextoSecundario: #222222;
    --fuente-titulos: "Exo 2";
    --fuente-letras: "Comfortaa";
}

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--colorFondoPrincipal);
    margin: 0px;
    padding: 0px;
}

#header{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--colorTarjetasPrincipal);
    padding: 10px;
    box-shadow: 0px 0px 8px #ccc;
    position: fixed;
    top: 0%;
    z-index: 998;
    transition: all 500ms;
}

#logo{
    flex-basis: 17%;
    text-decoration: none;
    font-family: var(--fuente-titulos);
    color: var(--colorTitulosPrincipal);
    font-size: 45px;
    font-weight: bold;
    text-shadow: 0px 0px 0px white,
                 1px 1px 1px white,
                 2px 2px 2px black,
                 3px 3px 3px black;
    transition: all 300ms;
}

#logo:hover{
    transform: scale(1.05);
}

#logo:visited{
    color: var(--colorTitulosPrincipal);
}

.menu{
    flex-basis: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    gap: 25px;
}

ul > li{
    list-style: none;
}

ul > li > a{
    text-decoration: none;
    font-family: var(--fuente-titulos);
    font-weight: bold;
    font-size: 18px;
    display: block;
    transition: all 300ms;
    color: var(--colorTitulosPrincipal);
}

ul > li > a:visited{
    color: var(--colorTitulosPrincipal);
}

ul > li > a:hover{
    transform: scale(1.15);
}

#switch_container{
    width: 60px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.556);
    position: fixed;
    z-index: 998;
    top: 12%;
    right: 1%;
    border-radius: 999px;
    box-shadow: 0px 0px 3px #2e3e7b;
    cursor: pointer;
}

#dark_switch{
    width: 25px;
    height: 25px;
    background-color: var(--colorTarjetasPrincipal);
    border-radius: 999px;
    margin: 2px;
    margin-left: 4px;
    box-shadow: 0px 0px 3px #2e3e7b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 300ms;
}

#dark_switch svg:last-child{
    display: none;
}

.desplazar_switch{
    transform: translateX(27px);
}

.restablecer_switch{
    transform: translateX(0px);
}

.dark_mode{
    --colorFondoPrincipal: #1c1c1c;
    --colorTarjetasPrincipal: #131314;
    --colorTitulosPrincipal: #fafafa;
    --colorTextoSecundario: white;
}

.dark_mode #dark_switch svg:last-child{
    display: block;
}

.dark_mode #dark_switch svg:first-child{
    display: none;
}

.dark_mode #header{
    box-shadow: none;
}

.dark_mode section{
    box-shadow: none;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 0px auto;
    margin-top: 100px;
    min-height: 1200px;
    overflow: hidden;
    transition: all 500ms;
}

.subtitulo{
    font-family: var(--fuente-titulos) !important;
    font-size: 50px;
    font-weight: bold;
    color: var(--colorTitulosPrincipal);
    text-shadow: 0px 0px 0px white,
                 1px 1px 1px white,
                 2px 2px 2px black,
                 3px 3px 3px black;

}

section{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    height: 620px;
    background-color: var(--colorTarjetasPrincipal);
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 25px;
    padding: 20px;
    transition: all 500ms;
}

.presentacion > span{
    font-family: var(--fuente-titulos);
    font-size: 90px;
    margin-right: 15px;
    margin-top: 160px;
    color: var(--colorTitulosPrincipal);
    text-shadow: 0px 0px 0px white,
                 1px 1px 1px white,
                 2px 2px 2px black,
                 3px 3px 3px black,
                 4px 4px 4px black,
                 5px 5px 5px black;
    transition: all 500ms;
}

#review{
    flex-basis: 49%;
    padding: 10px;
    padding-left: 30px;
    font-family: var(--fuente-letras);
    font-size: 20px;
    color: var(--colorTextoSecundario);
    transition: all 300ms;
}

#icon{
    flex-basis: 30%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#icon > img{
    width: 250px;
    height: 250px;
    transition: all 500ms;
}

.skills{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 650px;
    /* overflow-y: scroll; */
    transform: translateX(-2000px);
}

.subtitulo_skills{
    margin: 0px;
    text-align: center;
    flex-basis: 100%;
}


.skills > .icons{
    flex-basis: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills > .icons > img{
    width: 90px;
    margin-bottom: 10px;
    opacity: 0;
    /* transition: all 2000ms; */
}

.loaders{
    flex-basis: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.loaders > .skill-loading{
    box-sizing: border-box;
    width: 95%;
    height: 50px;
    border-radius: 10px;
    background-color: #ccc;
    padding: 3px;
}

.skill-loading > div{
    width: 0%;
    height: 100%;
    background-color: #4320ef;
    border-radius: 10px;
    font-family: var(--fuente-letras);
    color: white;
    text-align: center;
    padding-top: 12px;
    transition: all 5s;
}

.projects{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 50px;
    /* overflow-y: scroll; */
    opacity: 0;
}

.subtitulo_projects{
    margin: 0px;
    text-align: center;
    flex-basis: 100%;
}

.individual_project{
    flex-basis: 30%;
    height: 400px;
    background-color: var(--colorTarjetasPrincipal);
    box-shadow: 0px 0px 8px #ccc;
    border-radius: 20px;
    overflow: hidden;
    transition: all 500ms;
    text-align: center;
}

.dark_mode .individual_project{
    box-shadow: 0px 0px 8px black;
}

.individual_project:hover{
    box-shadow: 0px 0px 8px black;
}

.project_picture{
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-bottom: 1px solid #eee;
}

.project_picture > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project_title{
    font-family: var(--fuente-titulos);
    color: var(--colorTitulosPrincipal);
    font-size: 28px;
    text-align: center;
    margin: 0px;
}

.project_review{
    text-align: justify;
    font-family: var(--fuente-letras);
    color: var(--colorTextoSecundario);
    padding: 10px;
    margin: 0px;
}

.material-icons{
    font-size: 30px !important;
    text-decoration: none;
    transition: all 200ms;
    cursor: pointer;
}

.material-icons:visited{
    color: var(--colorTextoSecundario);
}

.material-icons:hover{
    transform: rotate(-40deg);
}

.contact_section{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: url(./images/background_picture.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 50px;
    box-shadow: none;
    margin: 0px;
    border-radius: 0px;
    overflow: hidden;
}

.dark_mode .contact_section{
    background: url(./images/background_dark_mode.jpg);
    background-repeat: no-repeat;
    background-position-y: -2585px;
    background-position-x: -3312px;
}

.datos_redes{
    flex-basis: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#subtitulo_contact{
    text-align: center;
    font-size: 80px;
    margin-bottom: 0px;
}


.bx{
    font-size: 50px;
    color: var(--colorTextoSecundario);
    transition: all 500ms;
}

.bx:hover{
    color: white;
    text-shadow: 0px 0px 1px #4320ef,
                 0px 0px 2px #4320ef,
                 0px 0px 3px #4320ef,
                 0px 0px 4px #4320ef,
                 0px 0px 5px #4320ef,
                 0px 0px 6px #4320ef,
                 0px 0px 7px #4320ef,
                 0px 0px 8px #4320ef,
                 0px 0px 9px #4320ef,
                 0px 0px 10px #4320ef,
                 0px 0px 11px #4320ef,
                 0px 0px 12px #4320ef,
                 0px 0px 13px #4320ef,
                 0px 0px 14px #4320ef,
                 0px 0px 15px #4320ef,
                 0px 0px 16px #4320ef,
                 0px 0px 17px #4320ef,
                 0px 0px 18px #4320ef,
                 0px 0px 19px #4320ef,
                 0px 0px 20px #4320ef;
}

.bx:visited{
    color: var(--colorTextoSecundario);
}


.profilepicture{
    flex-basis:50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.profilepicture > img{
    width: 500px;
    filter: drop-shadow(0px 0px 15px gray);
    transform: translateY(113px) translateX(141px);
}

.dark_mode .profilepicture > img{
    filter: none;
}
